
body {
  background-color: lightgrey;
}

.cstyle{
  border: 1px solid red;
}

.appslist {
  color: white;
  font-size: 15px;
}

.ui.shape img{
  margin-top: 61px;
}

#mobilemenu{
  display: none;
}

@media only screen and (max-height:500px;){
  #webmenu{
    display: none;
  }
  #mobilemenu {
    display: flex;
  }
}

@media only screen and (max-width:760px) {

  #webmenu{
    display: none;
  }
  #mobilemenu {
    display: flex;
  }

  .ui.shape img{
    display:none;
  }
  .ui.shape {
    margin-top: -70px;
  }

  .form-holder {
      background: rgba(255,255,255,0.2);
      margin-top: 300px;
      border-radius: 3px;
  }

  #contactform{
      height: 400px;
  }

}

.header{
  color: blue;
}

.form-holder {
    background: rgba(255,255,255,0.2);
    margin-top: 10%;
    border-radius: 3px;
}

  .form-head {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 30px #000;
    margin: 15px auto 30px auto;
  }

#extra{
  margin-top: -700px;
}

#sideimage{
  margin-top: 50px;
  margin-left: -700px;
}

#contactform{
    margin-top: 100px;
}
